
body{
    margin:0;
    padding:0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 60px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    color: rgba(0, 0, 0, 0.87);
}
header nav ul li a img{
    height: 25px;
    width: 25px;
}
header nav ul li a .navbar-right-avatar{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}   
main{
    text-align: center;
    margin-top: 109px;
}
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 24px;
}

main .main-logo img{
    width: 272px;
    height: 201;
}

main .main-input{
    width: 582px;
    margin: 0 auto;
    margin-bottom: 25px;
}

main .main-input-container{
    width: 582px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main input{
    border: none;
    width: 90%;
    height: 44px;
    outline: none;
}

main .main-input-container:hover{
    box-shadow: 0px 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .main-input-container .search-icon img{
    height: 15px;
    width: 15px;
    filter: invert(70%);
    margin-right: 13px;
}


main .main-buttons{
width: 530px;
margin: 0 auto;
display: flex;
justify-content: center;
}

main .main-buttons button{
    padding: 10px 5px;
    background-color: #f2f2f2;
    border: none;
    box-shadow: none;
    margin: 11px 5px;
    color: #5F6368;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    
}
main .main-buttons button:hover{
    padding: 10px 5px;
    background-color: #f2f2f2;
    border: none;
    margin: 11px 5px;
    color: #222;
    cursor: pointer;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
    
}

main .main-buttons .main-buttons-buscar{
    width: 153px;
}

main .main-buttons .main-buttons-lucky{
    width: 168px;
}

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #F2F2F2;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    margin: 0;
    display: flex;
    list-style: none;
    padding-left: 0px;
}

footer .footer-right{
    justify-self: right;
}
footer .footer-left{
    justify-self: left;
}

footer ul li a {
    margin: 10px;
    color: #5F6368;
    text-decoration: none;
}
footer ul li a:hover{
    text-decoration: underline;
}
